html {
  height: 100%;
  background-image: linear-gradient(
      328deg, 
      rgba(0,0,0,1) 0%, 
      rgba(90,60,130,1) 50%, 
      rgba(226,206,255,1) 100%
  );
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.page-title {
  font-size: 50px;
}

.project-panel {
  margin: 6em;
  padding: 1em;
}

.single-project {
  background-color: rgb(197, 157, 207, .2);
  border: 3px solid transparent;
  border-radius: 50px;
  margin: 1em;
  padding: 1em;
}

td {
  padding-left: 2em;
  padding-right: 2em;
}

.input {
  margin: 1em;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 6px 10px 6px 10px;
  background-color: rgb(214, 182, 222, 0.2);
  color: paleturquoise;
}

.input:hover {
  border: 1px solid paleturquoise;
  background-color: white;
  color: rgb(99, 52, 110);
}

select option {
  color: black;
}

input::placeholder {
  color: paleturquoise;
}